<app-podcast-information></app-podcast-information>

<div>
    <div>Episodes: {{ totalEpisodes }}</div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of episode; let i = index">
                <th scope="row">
                    <a routerLink="/podcast/{{ podcastId }}/episode/{{ item.id }}" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        <p>{{ item.title }}</p>
                    </a>
                </th>
                <th>{{ item.date | date:"MM/dd/yyyy" }}</th>
                <th>{{ item.duration | date:"HH:mm" }}</th>
            </tr>
        </tbody>
    </table>

    <ng-template #noResults>
        <p>No results found for "{{ podcastId }}".</p>
    </ng-template>
</div>