<div class="row py-3 episodes">

    <div class="col-4">
        <app-podcast-information></app-podcast-information>
    </div>

    <div class="col-8">
        <div class="form-control total">Episodes: {{ totalEpisodes }}</div>

        <table class="table table-striped form-control mt-3 pb-3">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of episode; let i = index">
                    <th>
                        <a routerLink="/podcast/{{ podcastId }}/episode/{{ item.id }}" routerLinkActive="active"
                            ariaCurrentWhenActive="page">
                            {{ item.title }}
                        </a>
                    </th>
                    <th>{{ item.date | date:"MM/dd/yyyy" }}</th>
                    <th>{{ item.duration | date:"HH:mm" }}</th>
                </tr>
            </tbody>
        </table>

        <ng-template #noResults>
            <p>No results found for "{{ podcastId }}".</p>
        </ng-template>
    </div>

</div>