<app-podcast-information></app-podcast-information>

<div>
    <div id="podcasts-list" *ngIf="exists; else noResults">
        <p>{{ episode.title }}</p>
        <div [innerHTML]="episode.description"></div>
        <audio preload="auto" controls="">
            <source type="audio/ogg" src="{{ episode.previewUrl }}">
            <source type="audio/mpeg" src="{{ episode.previewUrl }}">
        </audio>
    </div>

    <ng-template #noResults>
        <p>No results found for "{{ episodeId }}".</p>
    </ng-template>
</div>