<div class="row py-3 episodes">

    <div class="col-4">
        <app-podcast-information></app-podcast-information>
    </div>

    <div class="col-8">
        <div id="podcasts-list" class="form-control p-3" *ngIf="exists; else noResults">
            <h4>{{ episode.title }}</h4>
            <div class="py-3" [innerHTML]="episode.description"></div>
            <audio preload="auto" controls="" class="w-100 pt-4">
                <source type="audio/ogg" src="{{ episode.previewUrl }}">
                <source type="audio/mpeg" src="{{ episode.previewUrl }}">
            </audio>
        </div>

        <ng-template #noResults>
            <p>No results found for "{{ episodeId }}".</p>
        </ng-template>
    </div>
</div>